@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
body{
  font: "Roboto Condensed sans-serif";
}
.logo{
  width: 6.25rem;
 

}
.nav-link{
font-weight: 200;
letter-spacing: 3px;
cursor: pointer;
color: white !important;
margin-left: 12px;
margin-right: 12px;
font-size: 0.8rem;

}
nav div ul li{
text-transform: uppercase;

}
.navbar-nav li a {
  border-top: 3px solid 	#212529;
}
.navbar-brand{
  padding: 0px !important;
  height: 100px;
}
.navbar-nav > li > a:active, .navbar-nav >li> a:focus {
  border-top: 3px solid 	#FFD700;
}
.navbar-nav> li> a:hover{
  border-top: 3px solid 	#FFD700;

}